<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>{{ site.name }} | {{ page.title }} </title>
   <meta name="description" content="{{ site.description }}">
   <link href="/css/styles.css"rel="stylesheet">
</head>
<!-- Add head code above this line -->
<body
   <div class="site-wrapper">
      <div class="site-container">
         {% include sections/section-top.html%}
         {% include sections/section-nav.html%}
         {% include sections/section-content.html%}
         {% include sections/section-extra.html%}
         {% include sections/section-bottom.html%}
      </div> <!-- end of site-container -->
   </div> <!-- end of site-wrapper -->
</body>
</html>